body{font-family: Arial, Helvetica, sans-serif;
background-color: red;}
#logo{height: 36px;
padding-top:20px ;
padding-left: 10px;
padding-right: 10px;}
header{display: flex;
    flex-direction: row;
    justify-content: space-around;
padding-bottom: 20px;
padding-top: 20px;
background-color: white;
border-radius: 20px;
}
.cime{
    justify-content: center;
    display: flex;
    flex-direction: row;

}
h1{font-size: xx-large;}
#kezd{width: 70% auto;
    margin-left: 30px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: auto;
padding-left: 20px;}
#card{width: 23%;
margin-left: 20px;
margin-top: 20px;
background-color: white;
}
.kezdetek{display: flex;
        flex-direction: row;
    width: auto;}
h2{background-color: white;
margin-right: 1350px;
padding: 20px;
padding-bottom: 40px;
border-radius: 20px;
margin-bottom: -50px
;
margin-left: 30px;
width: 130px;}
ul{background-color: white;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
width: 50%;
float: right;
list-style:url(./TLoZ_Series_Triforce_Artwork_20x17.png);}
#le{
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
border-radius: 20px;
margin-bottom: -50px
;
margin-left: 712px;
margin-right: 600px;
font-size: larger;
font-weight: bold;
width: 150px;
}
#handy{height: 420px;
border-radius: 20px;
margin-left: 30px;}
.kep{width: 500px;}
.hetvenotig{display: flex;
}
.list{margin-left: -540px;}
li{padding-bottom: 5px;}
footer{display: flex;
flex-direction: row;
justify-content: space-around;
background-color: white;
border-radius: 10px;
font-size: x-large;}
#napjainkig{background-color: white;
border-radius: 20px;
padding: 10px;
width: 70%;
margin-left: 30px;
margin-right: 20px;}
#nes{width: 23%;
border-radius: 20px;}
.maig{display: flex;
flex-direction: row;}